[*.cs]

# IDE0018: Inline variable declaration
csharp_style_inlined_variable_declaration = true:none

# IDE0020: Use pattern matching
csharp_style_pattern_matching_over_is_with_cast_check = true:none
